body {
  margin: 0;
  padding: 0;
}

.headerDiv,
.footerDiv {
  position: absolute;
  background-color: #535659;
  height: 50px;
  width: 100%;
  color: white;
}

.headerDiv {
  top: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.bodyDiv {
  margin-top: 0;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: #292932;
}
.footerDiv {
  bottom: 0;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.content {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 80%;
  height: 100px;
  color: white;
}

/* content block */
#first {
  background-color: #5050c0;
}
/* content block */
#second {
  background-color: #d17a00;
}
/* content block */
#third {
  background-color: darkgreen;
}

.circles {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

#firstCircle {
  background-color: #5050c0;
}
#secondCircle {
  background-color: #d17a00;
}
#thirdCircle {
  background-color: darkgreen;
}
